{% extends 'layout/base.html' %}

{% block content %}

<h1>Este es el About</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quos dolores consequatur magni, ipsam veritatis
    sapiente natus minima facere autem suscipit quia necessitatibus amet dolorem ratione exercitationem distinctio
    dignissimos! Adipisci commodi velit qui quia, nostrum culpa cupiditate labore eum provident ipsa repudiandae
    expedita totam accusamus soluta assumenda deleniti aut eius consectetur rem sed voluptatibus voluptatem dignissimos
    recusandae fuga! Sint vero officia, magnam enim ipsa voluptatibus tenetur doloremque facilis laboriosam ea quam
    cupiditate saepe quaerat dolores, minima in quod explicabo eum. Itaque unde doloribus, quam porro nostrum non
    laudantium ipsum corporis autem, quibusdam dolore esse dicta iusto quas possimus? Quasi, reprehenderit.
</p>

<p>
    website created by {{ username }}
</p>

{% endblock %}